# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.codelite/.tern-project
.codelite/cppcheck.list
.codelite/FoXBot.session
.codelite/FoXBot.tags
.codelite/refactoring.db
.codelite/subversion.conf
.idea/foxbot.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.vs/FoXBot/v15/.suo
.vs/FoXBot/v15/Browse.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.so
*.o
foxbot_mm.so
Release/bot.obj
Release/bot.sbr
Release/bot_client.obj
Release/bot_client.sbr
Release/bot_combat.obj
Release/bot_combat.sbr
Release/bot_job_assessors.obj
Release/bot_job_assessors.sbr
Release/bot_job_functions.obj
Release/bot_job_functions.sbr
Release/bot_job_think.obj
Release/bot_job_think.sbr
Release/bot_navigate.obj
Release/bot_navigate.sbr
Release/bot_start.obj
Release/bot_start.sbr
Release/botcam.obj
Release/botcam.sbr
Release/dll.obj
Release/dll.sbr
Release/engine.obj
Release/engine.sbr
Release/foxbot.bsc
Release/foxbot.dll
Release/FoXBot.exp
Release/FoXBot.lib
Release/FoXBot.log
Release/FoXBot.tlog/BscMake.command.1.tlog
Release/FoXBot.tlog/bscmake.read.1.tlog
Release/FoXBot.tlog/bscmake.write.1.tlog
Release/FoXBot.tlog/cl.command.1.tlog
Release/FoXBot.tlog/CL.read.1.tlog
Release/FoXBot.tlog/CL.write.1.tlog
Release/FoXBot.tlog/FoXBot.lastbuildstate
Release/FoXBot.tlog/FoXBot.write.1u.tlog
Release/FoXBot.tlog/link.command.1.tlog
Release/FoXBot.tlog/link.read.1.tlog
Release/FoXBot.tlog/link.write.1.tlog
Release/FoXBot.tlog/rc.command.1.tlog
Release/FoXBot.tlog/rc.read.1.tlog
Release/FoXBot.tlog/rc.write.1.tlog
Release/h_export.obj
Release/h_export.sbr
Release/linkfunc.obj
Release/linkfunc.sbr
Release/meta_api.obj
Release/meta_api.sbr
Release/res_fox.res
Release/sdk_util.obj
Release/sdk_util.sbr
Release/util.obj
Release/util.sbr
Release/vc120.pdb
Release/waypoint.obj
Release/waypoint.sbr
Release/FoXBot.log
*.ipch
.vs/FoXBot/v15/Browse.VC.opendb
.vs/FoXBot/v15/Browse.VC.db
.vs/FoXBot/v15/.suo
CppCheckResults.xml
.idea/workspace.xml
gcc-compile.log
foxbot_syntax_errors.log
foxbot_mm.so
Release/vc141.pdb
Release/FoXBot.tlog/unsuccessfulbuild
Release/FoXBot.log
Release/foxbot.Build.CppClean.log
changelog.txt
foxbot_mm.so
